@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* location-specific */
section[epub|type~="part"] > p:first-of-type{
	margin-bottom: 1em;
	text-align: center;
	text-indent: 0;
}

#preface,
#epilogue,
#appendix-1-1,
#appendix-1-2,
#appendix-2{
	margin-top: 20vh;
}

#appendix-1 > section > header{
	font-size: 1.25em;
	font-variant: small-caps;
}

#appendix-1 ul{
	break-inside: avoid;
	column-gap: 2em;
	columns: 3;
	list-style: none;
}

#appendix-1-2 > div:first-of-type > ul:first-of-type{
	columns: 2;
	text-align: center;
}

#appendix-1 li,
#appendix-2 li{
	margin-bottom: 0;
}

#appendix-1-2{
	break-before: always;
}

#appendix-1 div:last-of-type > header,
#appendix-2 > div:last-of-type{
	margin-top: 2em;
}

footer{
	margin-top: 1em;
	text-align: right;
}

/* All dedications */
section[epub|type~="dedication"]{
	text-align: center;
}

section[epub|type~="dedication"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

@supports(display: flex){
	section[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *{
		margin: 0;
	}
}
/* End all dedications */

/* images */
figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figcaption{
	font-size: smaller;
	font-style: italic;
	margin: 1em;
}

/* full page */
figure.full-page{
	break-after: page;
	break-before: page;
	break-inside: avoid;
	margin: 0;
	max-height: 100vh;
	text-align: center;
}

@supports(display: flex){
	figure.full-page{
		display: flex;
		flex-direction: column;
	}

	figure.full-page img{
		height: 100vh;
		object-fit: contain;
	}
}

/* aligned with text */
figure{
	break-inside: avoid;
	margin: 1em auto;
	text-align: center;
}
/* end of images

/* poem/verse/song */

[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i4{
	padding-left: 5em;
	text-indent: -1em;
}

p span.i8{
	padding-left: 9em;
	text-indent: -1em;
}

p span.rm{
	text-align: right;
}
/* end of poem/verse/song */
